@import '../../assets/css/variables.module.scss';

.CtaBlock {
    background: $mainColor;
    min-width: 100%;

    & .CtaBlockInner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 55px 0;

        & .CtaBlockInputs {
            display: flex;
            align-items: center;
            gap: 35px;
            & div {
                display: flex;
                flex-direction: column;
                & span {
                    font-weight:600;
                    margin-bottom: 15px;
                }
                & .InvisibleText {
                    color: $mainColor;
                    height: 24px;
                }
                & input {
                    &:focus {
                        color: $darkGreen;
                        border: 2px solid $darkGreen;
                    }
                    &::placeholder {
                        color: rgb(110, 110, 110);
                    }
                    padding: 15px;
                    min-width: 275px;
                    border: 2px solid rgb(110, 110, 110);
                    outline: none;
                    background: transparent;
                    font-weight: bold;
                    color: rgb(70, 70, 70);
                }
                & button {
                    padding: 15px 70px;
                    background: transparent;
                    cursor: pointer;
                    font-weight: bold;
                    border: 2px solid $darkGreen;
                    transition: all .2s linear;
                    &:hover {
                        transition: all .2s linear;
                        background: $darkGreen;
                        color: $white;
                    }
                }
                & .Line {
                    background: $darkGreen;
                    width: 50px;
                    height: 2px;
                }
            }
        }
    }
    & .TitleContent {
        & h1 {
            font-family: Inter, sans-serif;
            font-size: 45px;
            color: $darkGreen;
            font-weight: 900;
            margin-bottom: 25px;
        }
        
    }
}