.Container {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}
// @media (max-width: 1600px) {
//     .Container {
//         max-width: 1300px;
//         padding-left: 20px;
//     }
// }
// @media (max-width: 1300px) {
//     .Container {
//         padding: 0;
//         max-width: 1199px;
//     }
// }
// @media (max-width: 1199px) {
//     .Container {
//         max-width: 1199px;
//         padding: 0;
//     }
// }
