@import '../../assets/css/variables.module.scss';

.Breadcrumbs {
	background: $mainColor;

	padding-top: 140px;

	// display: flex;
	// justify-content: center;
	// align-items: center;
	text-align: center;

	& p {
		margin-bottom: 10px;
	}
	& h1 {
		@apply text-white text-lg font-bold font-Inter;
	}
}
.BreadcrumbsInner {
	@apply flex justify-between items-center;
}
.BreadcrumbsBox {
	@apply bg-darkGreen h-20 flex items-center justify-between;
}
.BreadcrumbsText {
	@apply text-white font-Inter text-base flex items-center;

	& a:hover {
		@apply text-mainLight transition-all;
	}
}

.Span {
	@apply px-2;
}
